
/* Board */
.details-board {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    flex-wrap: nowrap;
    overflow: hidden;
}

.detail-logo-spacer {
    box-sizing: border-box;
    width: 220px;
}

/* detail-logo-box */
.detail-logo-box {
    box-sizing: border-box;
    position: absolute;
    width: 200px;
    height: 156px;
    right: 0px;
    top: -16px;
    z-index: 1;
}

/* detail-logo-img */
.detail-logo-img {
    box-sizing: border-box;
    width: 200px;
    height: 156px;
}

/* detail-body */
.detail-body {
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 16px 0px;
    flex-wrap: nowrap;
}

/* detail-header */
.detail-header {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    gap: 16px 16px;
    padding: 0px;
    flex-wrap: nowrap;
}

/* detail-header-selector */
.detail-header-selector {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    background-color: rgba(26, 26, 26, 0.75);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 16px;
    padding: 16px 16px;
    flex-wrap: nowrap;
}

/* detail-header-arrow-left */
.detail-header-arrow-left {
    box-sizing: border-box;
    width: 30px;
    height: 48px;
    color: rgba(240, 240, 240, 1);
}

/* detail-header-trackname */
.detail-header-trackname {
    width: 100%;
    height: 100%;
    color: rgba(240, 240, 240, 1);
    font-family: 'Raleway';
    font-style: normal;
    font-size: 36px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 0px;
    text-decoration: none;
    text-transform: none;
}

/* detail-header-arrow-right */
.detail-header-arrow-right {
    width: 30px;
    height: 48px;
    color: rgba(240, 240, 240, 1);
}

/* detail-content */
.detail-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    gap: 16px;
    padding: 0px;
    flex-wrap: nowrap;
}

/* detail-leaderboard-week */
.detail-leaderboard-week {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: rgba(26, 26, 26, 0.6);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 0px;
    padding: 0px;
    flex-wrap: nowrap;
}

/* detail-leaderboard-week-header */
.detail-leaderboard-week-header {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0px 0px;
    background-color: rgba(47, 79, 172, 0.75);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0px;
    padding: 16px;
    flex-wrap: nowrap;
}

/* detail-leaderboard-week-title */
.detail-leaderboard-week-title {
    box-sizing: border-box;
    width: 100%;
    height: 33px;
    color: rgba(236, 236, 236, 1);
    font-family: 'Raleway';
    text-align: center;

    font-style: normal;
    font-size: 24px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 0px;
    text-decoration: none;
    text-transform: none;
}

/* detail-leaderboard-week-content */
.detail-leaderboard-week-content {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 12px;
    padding: 16px;
    flex-wrap: nowrap;
}

/* detail-leaderboard-entry */
.detail-leaderboard-entry {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    gap: 12px;
    padding: 0px;
    flex-wrap: nowrap;
}

/* detail-leaderboard-entry-driverbox */
.detail-leaderboard-entry-driverbox {
    box-sizing: border-box;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 0px;
    padding: 0px;
    flex-wrap: nowrap;
}

/* detail-leaderboard-entry-driverbox-car */
.detail-leaderboard-entry-driverbox-car {
    box-sizing: border-box;
    width: 100%;
    height: 18px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Raleway';
    font-style: normal;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 0px;
    text-decoration: none;
    text-transform: none;
}

/* detail-leaderboard-entry-driverbox-name */
.detail-leaderboard-entry-driverbox-name {
    box-sizing: border-box;
    width: 100%;
    height: 33px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Raleway';
    font-style: normal;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 0px;
    text-decoration: none;
    text-transform: none;
}

/* detail-leaderboard-entry-time */
.detail-leaderboard-entry-time {
    box-sizing: border-box;
    width: auto;
    height: 100%;
    align-self: center;
    color: rgba(255, 255, 255, 1);
    font-family: 'Raleway';
    font-style: normal;
    font-size: 24px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 0px;
    text-decoration: none;
    text-transform: none;
}

/* detail-leaderboard-entry-weather */
.detail-leaderboard-entry-weather {
    box-sizing: border-box;
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgba(255, 255, 255, 1);

    justify-content: start;
    gap: 0px;
    padding: 0px;
    flex-wrap: nowrap;
    align-self: center;
}

/* detail-leaderboard-entry-placing */
.detail-leaderboard-entry-placing {
    box-sizing: border-box;
    width: auto;
    height: 100%;
    align-self: center;
    color: rgba(255, 255, 255, 1);
    font-family: 'Raleway';
    font-style: normal;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 0px;
    text-decoration: none;
    text-transform: none;
}

/* detail-leaderboard-overerall */
.detail-leaderboard-overall {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: rgba(26, 26, 26, 0.55);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 0px;
    padding: 0px;
    flex-wrap: nowrap;
}

/* detail-leaderboard-overerall-header */
.detail-leaderboard-overall-header {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0px 0px;
    background-color: rgba(141, 58, 58, 0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0px 0px;
    padding: 16px;
    flex-wrap: nowrap;
}

/* detail-leaderboard-overerall-text */
.detail-leaderboard-overall-header-title {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 33px;
    color: rgba(236, 236, 236, 1);
    font-family: 'Raleway';
    font-style: normal;
    font-size: 24px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 0px;
    text-decoration: none;
    text-transform: none;
}

/* detail-leaderboard-overerall-content */
.detail-leaderboard-overall-content {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 12px;
    padding: 16px;
    flex-wrap: nowrap;
}

/* detail-leaderboard-bottom */
.detail-leaderboard-bottom {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
    padding: 0px;
    flex-wrap: nowrap;
}

/* detail-leaderboard-bottom-back */
.detail-leaderboard-bottom-back {
    cursor: pointer;
    position: relative;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 0px;
    flex-wrap: nowrap;
}


.detail-leaderboard-bottom-icon {
    color: rgba(255, 255, 255, 1);
    width: 32px;
    height: 32px;

}
/* Übersicht */
.detail-leaderboard-bottom-text {
    width: 114px;
    height: 30px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Raleway';
    font-style: normal;
    font-size: 24px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 0px;
    text-decoration: none;
    text-transform: none;
}

/* detail-leaderboard-bottom-filter */
.detail-leaderboard-bottom-filter {
    position: relative;
    width: auto;
    height: 81px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 16px;
    padding: 0px;
    flex-wrap: nowrap;
}

/* detail-leaderboard-bottom-filter-classes */
.detail-leaderboard-bottom-filter-classes {
    position: relative;
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding: 0px;
    flex-wrap: nowrap;
}

/* detail-leaderboard-bottom-filter-icon */
.detail-leaderboard-bottom-filter-icon {
    width: 60px;
    height: 48px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

/* detail-leaderboard-bottom-filter-text */
.detail-leaderboard-bottom-filter-text {
    width: 112px;
    height: 25px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Raleway';
    font-style: normal;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: 0px;
    text-decoration: none;
    text-transform: none;
}

/* detail-leaderboard-image */
.detail-leaderboard-image {
    position: absolute;
    width: 1440px;
    height: 810px;
    left: -62px;
    top: -21px;
    filter: blur(6px);
}


